<div class="wrapper m-auto ">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="form-group form col-12  ">
                <label for="">Date</label>
                <input type="date" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                <div class="form-inline px-0 col-12">
                    <label class="mr-5" for="">Time</label>
                    <input type="time" name="" id="" class="form-control col-12" placeholder="" aria-describedby="helpId">
                    <label class="mr-2" for="">to</label>
                    <input type="time" name="" id="" class="form-control col-12" placeholder="" aria-describedby="helpId">
                </div>
            </div>
        </div>
    </div>

</div>