@import './../../styles.scss';
.wrapper {
    width: $wrapper;
    .form-group {
        padding: 15% 0;
        label {
            font-size: $paragrphSize;
        }
        input {
            font-size: $paragrphSize;
        }
    }
}